################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HalideAOTgenerationMorphology/x64/Release/blackhatAOT.obj
